.menu-hide{
    height: 0px !important;
    opacity : 0
}
.menu-show{
    height: auto !important;
    opacity : 1
}
.submenu-opacity-0{
    opacity: 0 !important;
    z-index: -100;
}
.submenu-opacity-1{
    opacity: 1 !important;
    z-index: 100;
}
.submenu-opacity-child-0{
    opacity: 0 !important;
    z-index: -999;
}
.submenu-opacity-child-1{
    opacity: 1 !important;
    z-index: 1000;
}