<div class="home1 full-width-header">
    <!-- Toolbar Start -->
    <div class="rs-toolbar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="rs-toolbar-left">
                        <div class="welcome-message">
                            <i class="fa fa-bank"></i><span>Welcome to ADUST</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="rs-toolbar-right hidden-sm">
                        <a target="_blank" href="http://103.17.38.130/Login" class="apply-btn">Registration for 3rd
                            Convocation</a>&nbsp;&nbsp;&nbsp;
                        <div class="toolbar-share-icon">
                            <ul>
                                <li><a target="_blank" href="http://103.17.38.130/Login/">UMIS</a></li>
                                <li><a href="#">Payment Procedure</a></li>
                                <li><a target="_blank" href="https://vps.cloudhostbd.com:2096/">Webmail</a></li>
                                <li><a href="#">Alumni</a></li>
                                <li><a href="#">Career</a></li>
                            </ul>
                        </div>
                        <a target="_blank" href="http://103.17.38.130/Admission/ApplicationForm.aspx"
                            class="apply-btn">Apply Online!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Toolbar End -->
    <!--Header Start-->
    <header id="rs-header" class="rs-header">
        <!-- Header Top Start -->
        <div class="rs-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="logo-area">
                            <a>
                                <img src="assets/images/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="header-contact">
                            <div id="info-details" class="widget-text">
                                <i class="fa fa-envelope-o icon-font"></i>
                                <div class="info-text">
                                    <a href="mailto:admission@adust.edu.bd">
                                        <span>Mail Us</span>
                                        admission@adust.edu.bd
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="header-contact pull-right">
                            <div id="phone-details" class="widget-text">
                                <i class="fa fa-volume-control-phone icon-font"></i>
                                <div class="info-text">
                                    <a href="tel:4155551234">
                                        <span>Call Us</span>
                                        +88 01787666575-8
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top End -->
        <!-- Menu Start -->
        <div class="menu-area menu-sticky" [ngClass]="{'sticky': sticky }">
            <div class="container">
                <div class="main-menu">
                    <div class="row">
                        <div class="col-sm-12">
                            <a id="toggle-controller" class="rs-menu-toggle" (click)="runMenuToggle()"><i class="fa fa-bars"></i>Menu</a>
                            <nav id="toggle-window" class="rs-menu" [ngClass]="{'menu-hide': menuToggle == 0 && innerWidth < 768, 'menu-show': menuToggle == 1 && innerWidth < 768 }">
                                <ul class="nav-menu">              
                                    <li *ngFor="let menu of menuList" [ngClass]="{'active': selectedMenu.title == menu.title, 'menu-item-has-children': menu.children}">
                                        <a [routerLink]="menu.param ? [menu.link, menu.param]:[menu.link]" (click)="this.selectedMenu = menu">{{menu.title}}</a>
                                        <ng-container *ngIf="menu.children">
                                            <span *ngIf="!showToogleIconConditionForSingle(menu.title)" class="rs-menu-parent"><i class="fa fa-angle-down" aria-hidden="true" (click)="this.subMenuToggleList.push(menu.title)"></i></span>
                                            <span *ngIf="showToogleIconConditionForSingle(menu.title)" class="rs-menu-parent"><i class="fa fa-angle-up" aria-hidden="true" (click)="this.removeSubMenuTottle(menu.title)"></i></span>
                            
                                            <ul *ngIf="menu.title !='Academics'" class="sub-menu" [ngClass]="{'submenu-opacity-0': !showToogleIconConditionForSingle(menu.title), 'submenu-opacity-1':  showToogleIconConditionForSingle(menu.title)}">
                                                <li *ngFor="let childOne of menu.children"><a [routerLink]="childOne.param ? [childOne.link, childOne.param]:[childOne.link]">{{childOne.title}}</a></li>
                                            </ul>
                                            
                                            <ul *ngIf="menu.title == 'Academics'" class="sub-menu"  [ngClass]="{'submenu-opacity-0': !showToogleIconConditionForSingle(menu.title), 'submenu-opacity-1':  showToogleIconConditionForSingle(menu.title)}">
                                                <li *ngFor="let course of coursePrograms" class="menu-item-has-children">
                                                    <a href="javascript:void(0)">{{course.title}}</a>
                                                    <span *ngIf="!showToogleIconConditionForMulti(menu.title,course.title)" class="rs-menu-parent"><i class="fa fa-angle-down" aria-hidden="true" (click)="this.subMenuToggleList.push(course.title)"></i></span>
                                                    <span *ngIf="showToogleIconConditionForMulti(menu.title,course.title)" class="rs-menu-parent"><i class="fa fa-angle-up" aria-hidden="true" (click)="this.removeSubMenuTottle(course.title)"></i></span>
                                                    <ul class="sub-menu" *ngIf="coursePrograms.length !=0" [ngClass]="{'submenu-opacity-child-0': !showToogleIconConditionForMulti(menu.title,course.title), 'submenu-opacity-child-1': showToogleIconConditionForMulti(menu.title,course.title)}">
                                                        <li *ngFor="let department of course.departments"> <a [routerLink]="['/department', department.fullName.split(' ').join('-'), department.id]">{{department.title}}</a></li>
                                                    </ul>
                                                </li>
                                            </ul> 
                                        </ng-container>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
    </header>
    <!--Header End-->
</div>