<app-header></app-header>
<div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">CONTACT</h1>
                    <ul>
                        <li>
                            <a class="active" asp-action="Index">HOME</a>
                        </li>
                        <li>CONTACT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Contact Section Start -->
<div class="contact-page-section sec-spacer">
    <div class="container">
        <div id="googleMap" style="position: relative; overflow: hidden;">
            <div
                style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                <div class="gm-err-container">
                    <div class="gm-err-content">
                        <div class="gm-err-icon text-center">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2169.492796122471!2d90.37587211341166!3d23.867005251954946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0e89026c611%3A0x43cd9f7f323b58dd!2sAtish%20Dipankar%20University%20of%20Science%20%26%20Technology!5e0!3m2!1sen!2sbd!4v1648804309625!5m2!1sen!2sbd"
                                width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contact-address-section">
            <div class="col-md-4 pl-0">
                <div class="contact-info contact-address">
                    <i class="fa fa-map-marker"></i>
                    <h4>Address</h4>
                    <p>Plot# 209, Sector# 15 (Khantek)</p>
                    <p>Uttara, Dhaka-1230</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info contact-phone">
                    <i class="fa fa-phone"></i>
                    <h4>Phone Number</h4>
                    <a href="tel:+8801787666575">+8801787666575-78</a>
                    <a href="tel:+8801787666587">+8801787666587</a>
                </div>
            </div>
            <div class="col-md-4 pr-0">
                <div class="contact-info contact-email">
                    <i class="fa fa-envelope"></i>
                    <h4>Email Address</h4>
                    <a href="mailto:info@adust.edu.bd">
                        <p>info@adust.edu.bd</p>
                    </a>
                    <a href="mailto:admission@adust.edu.bd">
                        <p>admission@adust.edu.bd</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact-comment-section">
            <h3>Leave Comment</h3>
            <div id="form-messages"></div>
            <form id="contact-form" method="post" action="mailer.php">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Name*</label>
                                <input name="fname" id="fname" class="form-control" type="text"
                                    [(ngModel)]="commentSurveyForm.name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Phone Number*</label>
                                <input name="lname" id="lname" class="form-control" type="text"
                                    [(ngModel)]="commentSurveyForm.phoneNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Email*</label>
                                <input name="email" id="email" class="form-control" type="email"
                                    [(ngModel)]="commentSurveyForm.email">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Subject *</label>
                                <input name="subject" id="subject" class="form-control" type="text"
                                    [(ngModel)]="commentSurveyForm.subject">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Message *</label>
                                <textarea cols="40" rows="10" id="message" name="message" class="textarea form-control"
                                    [(ngModel)]="commentSurveyForm.comments"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <input class="btn-send" type="submit" value="Submit Now" (click)="saveCommentSurvey()">
                    </div>
                </fieldset>
            </form>
        </div>

        <h3 class="text-center text-danger" *ngIf="incompleteForm">**Incomplete From!!</h3>
        <h4 *ngIf="showSubmitted" class="text-center title">
            ✔️ Summitted
        </h4>
    </div>
</div>