<app-department-header [departmentName]="department" [departmentId]="departmentId"></app-department-header>
<div class="rs-breadcrumbs breadcrumbs-overlay" [ngClass]="[people_type]">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">{{people_type.toUpperCase()}}</h1>
                    <ul>
                        <li>
                            <a class="active">{{department.split('-').join(' ').toUpperCase()}}</a>
                        </li>
                        <li>{{people_type.toUpperCase()}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Team Start -->
<div id="rs-people" class="rs-people team-page">
    <div class="container">
        <div *ngIf="loadingPeoples == 1" class="d-flex justify-content-center pb-5">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div *ngIf="loadingPeoples == 2" class="row grid">
            <div *ngFor="let member of allPeoples" class="col-lg-4 col-md-6 col-xs-6 grid-item filter1 team-margin">
                <div class="team-item">
                    <div class="testimonial-style3">
                        <div class="image">
                            <img src="data:image/png;base64,{{member.photo}}" alt="">
                        </div>
                        <div class="testimonial-content people-content-color">
                            <div class="testimonial-profile">
                                <h3 class="name">{{member.name}}</h3>
                                <p class="title" [innerHtml]='member.designation'></p>
                            </div>
                        </div>
                        <div class="btn-part mt-30 mb-30">
                            <a class="readon2" [routerLink]="['/department/people-details', member.type, department, member.departmentId, member.id]">View Profile <i class="fa fa-check-circle"></i></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>