<div class="full-width-header">
    <!-- Toolbar Start -->
    <div class="rs-toolbar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="rs-toolbar-left">
                        <div class="welcome-message">
                            <i class="fa fa-bank"></i><span>Welcome to ADUST</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="rs-toolbar-right hidden-sm">
                        <a target="_blank" href="http://103.17.38.130/Login" class="apply-btn">Registration for 3rd Convocation</a>&nbsp;&nbsp;&nbsp;
                        <div class="toolbar-share-icon">
                            <ul>
                                <li><a target="_blank" href="http://103.17.38.130/Login/">UMIS</a></li>
                                <li><a href="#">Payment Procedure</a></li>
                                <li><a target="_blank" href="https://vps.cloudhostbd.com:2096/">Webmail</a></li>
                                <li><a href="#">Alumni</a></li>
                                <li><a href="#">Career</a></li>
                            </ul>
                        </div>
                        <a target="_blank" href="http://103.17.38.130/Admission/ApplicationForm.aspx" class="apply-btn">Apply Online!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Toolbar End -->
    <!--Header Start-->
    <header id="rs-header" class="rs-header">
        <!-- Header Top Start -->
        <div class="rs-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="logo-area">
                            <h1><img src="assets/images/adust-logo.png" alt="logo">  {{departmentName}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top End -->
        <!-- Menu Start -->
        <div class="menu-area menu-sticky" [ngClass]="{'sticky': sticky }">
            <div class="container">
                <div class="main-menu">
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
                            <nav class="rs-menu">
                                <ul class="nav-menu">
                                    <li class="active"> <a
                                            [routerLink]="['/department', departmentName, departmentId]">Home</a>
                                    </li>
                                    <li> 
                                        <a [routerLink]="['/department/about-us', departmentName, departmentId]">ABOUT</a>
                                    </li>
                                    <li> 
                                        <a [routerLink]="['/department/admission', departmentName, departmentId]">ADMISSION</a>
                                    </li>
                                    <li> <a
                                            [routerLink]="['/department/people', departmentName, departmentId]">PEOPLE</a>
                                    </li>
                                    <li> <a [routerLink]="['/department/news-events', departmentName, departmentId]">EVENT</a></li>
                                    <li> <a
                                            [routerLink]="['/department/notice', departmentName, departmentId]">NOTICE</a>
                                    </li>
                                    <li> <a
                                            [routerLink]="['/department/research', departmentName, departmentId]">Research</a>
                                    </li>
                                    <li> <a
                                            [routerLink]="['/department/alumnus', departmentName, departmentId]">ALUMNAS</a>
                                    </li>
                                    <li> <a
                                            [routerLink]="['/department/contact', departmentName, departmentId]">Contact</a>
                                    </li>
                                    <li> <a class="nav-link" [routerLink]="['/']"><i class="fa fa-paper-plane"></i> ADUST
                                            HOME</a></li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
    </header>
    <!--Header End-->
</div>