<app-department-header [departmentName]="department" [departmentId]="departmentId"></app-department-header>

<div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">ABOUT US</h1>
                    <ul>
                        <li>
                            <a class="active" asp-action="Index" asp-controller="Home">{{department.split('-').join(' ').toUpperCase()}}</a>
                        </li>
                        <li>ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- History Start -->
<div id="rs-about-2" class="rs-about-2 sec-spacer">
    <div class="container">
        <div class="row rs-vertical-top">
            <div class="col-lg-7 col-md-12">
                <div class="sec-title mb-30">
                    <h2>ABOUT US</h2>
                    <p [innerHtml]='departmentHistory.departmentMessages'></p>
                </div>
                <p class="mobile-mb-50" [innerHtml]='departmentHistory.description'></p>
            </div>
            <div class="col-lg-5 col-md-12" *ngIf="departmentHistory.photo">
                <div class="about-img rs-image-effect-shine pull-right">
                    <img src="data:image/png;base64,{{departmentHistory.photo}}" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- History End -->
<!-- Mission Start -->
<div class="rs-mission sec-color sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12" *ngIf="departmentAbout.missionPhoto">
                        <div class="about-img rs-image-effect-shine">
                            <img src="data:image/png;base64,{{departmentAbout.missionPhoto}}" alt="about">
                        </div>
            </div>
            <div class="col-lg-6 col-md-12 mobile-mb-50">
                <div class="abt-title">
                    <h2>OUR MISSION</h2>
                </div>
                <div class="about-desc">
                    <p [innerHtml]='departmentAbout.mission'></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mission End -->
<!-- Vision Start -->
<div class="rs-vision sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="abt-title">
                    <h2>OUR VISION</h2>
                </div>
                <div class="vision-desc">
                    <p [innerHtml]='departmentAbout.vission'></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" *ngIf="departmentAbout.vissionPhoto">
                <div class="about-img rs-image-effect-shine">
                    <img src="data:image/png;base64,{{departmentAbout.vissionPhoto}}" alt="about">
                </div>
    </div>
        </div>
    </div>
</div>
<!-- Vision End -->
<!-- Mission Start -->
<div class="rs-mission sec-color sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12" *ngIf="departmentAbout.achievementsPhoto">
                        <div class="about-img rs-image-effect-shine">
                            <img src="data:image/png;base64,{{departmentAbout.achievementsPhoto}}" alt="about">
                        </div>
            </div>
            <div class="col-lg-6 col-md-12 mobile-mb-50">
                <div class="abt-title">
                    <h2>ACHIEVEMENTS</h2>
                </div>
                <div class="about-desc">
                    <p [innerHtml]='departmentAbout.achievements'></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mission End -->
<!-- Vision Start -->
<div class="rs-vision sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="abt-title">
                    <h2>FACILITIES</h2>
                </div>
                <div class="vision-desc">
                    <p [innerHtml]='departmentAbout.facilities'></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" *ngIf="departmentAbout.facilitiesPhoto">
                <div class="about-img rs-image-effect-shine">
                    <img src="data:image/png;base64,{{departmentAbout.facilitiesPhoto}}" alt="about">
                </div>
    </div>
        </div>
    </div>
</div>
<!-- Vision End -->
<!-- Mission Start -->
<div class="rs-mission sec-color sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12" *ngIf="departmentAbout.activitiesPhoto">
                        <div class="about-img rs-image-effect-shine">
                            <img src="data:image/png;base64,{{departmentAbout.activitiesPhoto}}" alt="about">
                        </div>
            </div>
            <div class="col-lg-6 col-md-12 mobile-mb-50">
                <div class="abt-title">
                    <h2>ACTIVITIES</h2>
                </div>
                <div class="about-desc">
                    <p [innerHtml]='departmentAbout.activities'></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mission End --><!-- Vision Start -->
<div class="rs-vision sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="abt-title">
                    <h2>PAPERS</h2>
                </div>
                <div class="vision-desc">
                    <p [innerHtml]='departmentAbout.papers'></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vision End -->
<!-- Calltoaction Start -->
<div id="rs-calltoaction" class="rs-calltoaction sec-spacer bg4">
    <div class="container">
        <div class="rs-cta-inner text-center">
            <div class="sec-title mb-50 text-center">
                <h2 class="white-color">GET ADMISSION</h2>
                <p class="white-color">ADUST was established in 2004 with the sole aim of spreading and disseminating
                    higher education in Bangladesh.</p>
            </div>
            <a class="cta-button" target="_blank" href="http://103.17.38.130/Admission/ApplicationForm.aspx">Apply Now</a>
        </div>
    </div>
</div>