<app-department-header [departmentName]="department" [departmentId]="departmentId"></app-department-header>
<div *ngIf="loadingSliders == 1" id="rs-slider" class="slider-overlay-2">
    <div class="rs-banner-section2">
        <img src="assets/images/slider/default-slider.jpg" alt="Slide1" />
        <div class="slide-content d-none">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container text-center">
                        <h1 class="slider-title" data-animation-in="fadeInUp" data-animation-out="animate-out">
                            Permanent Campus</h1>
                        <br />
                        <a href="#" class="sl-readmore-btn mr-30" >WHY ADUST</a>
                        <a href="#" class="sl-get-started-btn" data-animation-in="lightSpeedIn"
                            data-animation-out="animate-out">APPLY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loadingSliders == 2" id="rs-slider" class="slider-overlay-2">
    <owl-carousel-o [options]="customOptionsHome" #owlCarDept>
        <ng-container *ngFor="let slider of sliders;index as i">
            <ng-template carouselSlide>
                <div>
                    <img src="data:image/png;base64,{{slider.photo}}" alt="Slide1" />
                    <div class="slide-content d-none">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="container">
                                    <h1 class="slider-title" data-animation-in="fadeInLeft"
                                        data-animation-out="animate-out">
                                        {{slider.title}}</h1>
                                    <p data-animation-in="fadeInUp" data-animation-out="animate-out"
                                        class="slider-desc">Fusce
                                        sem dolor, interdum in efficitur at, faucibus nec lorem.Sed nec molestie
                                        justo.<br> Nunc
                                        quis sapien in arcu pharetra volutpat.Morbi nec vulputate dolor.</p>
                                    <a href="#" class="sl-readmore-btn mr-30" data-animation-in="lightSpeedIn"
                                        data-animation-out="animate-out">READ MORE</a>
                                    <a href="#" class="sl-get-started-btn" data-animation-in="lightSpeedIn"
                                        data-animation-out="animate-out">GET STARTED NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>

    <a class="carousel-control-prev" (click)="owlCarDept.prev()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" (click)="owlCarDept.next()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<div class="rs-services rs-services-style1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="services-item rs-animation-hover">
                    <div class="services-icon">
                        <i class="fa fa-american-sign-language-interpreting rs-animation-scale-up"></i>
                    </div>
                    <div class="services-desc">
                        <h4><a class="services-title" [routerLink]="['/department/program-objective', department, departmentId]">Program Objective</a></h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services-item rs-animation-hover">
                    <div class="services-icon">
                        <i class="fa fa-book rs-animation-scale-up"></i>
                    </div>
                    <div class="services-desc">
                        <h4><a class="services-title" [routerLink]="['/department/program-outcomes', department, departmentId]">Program Outcomes</a></h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services-item rs-animation-hover">
                    <div class="services-icon">
                        <i class="fa fa-user rs-animation-scale-up"></i>
                    </div>
                    <div class="services-desc">
                        <h4><a class="services-title" [routerLink]="['/department/curriculum-structure', department, departmentId]">Curriculum Structure</a></h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services-item rs-animation-hover">
                    <div class="services-icon">
                        <i class="fa fa-graduation-cap rs-animation-scale-up"></i>
                    </div>
                    <div class="services-desc">
                        <h4><a class="services-title" [routerLink]="['/department/course-details', department, departmentId]">Course Details</a></h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rs-about-2" class="rs-about-2 sec-spacer sec-color">
    <div class="container">
        <div class="row rs-vertical-top">
            <div class="col-lg-7 col-md-12">
                <div class="sec-title mb-30">
                    <h2>ABOUT US</h2>
                    <p [innerHtml]='departmentDetails.departmentMessages'></p>
                </div>
                <p [innerHtml]='departmentDetails.description'></p>
            </div>
            <div class="col-lg-5 col-md-12" *ngIf="departmentDetails.photo">
                <div class="about-img rs-image-effect-shine">
                    <img src="data:image/png;base64,{{departmentDetails.photo}}" alt="img02" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rs-latest-news-style7" class="rs-latest-news-style7 sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 md-pb-50">
                <app-events [departmentId]="departmentId"></app-events>
            </div>
            <div class="col-lg-6">
                <app-notices [departmentId]="departmentId"></app-notices>
            </div>
        </div>
    </div>
</div>

<div class="rs-events-2 sec-spacer sec-color">
    <div class="container">
        <div class="sec-title text-center mb-50">
            <h2>Messages From Department</h2>
        </div>

        <div *ngIf="loadingDepartmentMessages == 1" class="d-flex justify-content-center pb-5">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row space-bt30" *ngIf="loadingDepartmentMessages == 2">
            <div class="col-lg-6 col-md-12" *ngFor="let message of departmentMessages">
                <div class="event-item">
                    <div class="row rs-vertical-middle">
                        <div class="col-md-6">
                            <div class="event-img">
                                <img src="data:image/png;base64,{{message.photo}}" alt="Images" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="event-content">
                                <h3 class="event-title">{{message.name}}</h3>
                                <h6 class="designation">{{message.designation}}</h6>
                                <div class="event-desc">
                                    <p>
                                        {{message.message.slice(0, 400)}}...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Events End -->
<!-- Testimonials Start -->
<div class="rs-testimonial bg5 sec-spacer">
    <div class="container">
        <div class="row rs-vertical-middle">
            <div class="col-lg-4 col-md-12">
                <div class="sec-title mb-30">
                    <h2 class="white-color">WHAT OUR STUDENTS SAY</h2>
                </div>
            </div>
            <div class="col-lg-8  col-md-12">

                <div *ngIf="loadingDepartmentTestimonials == 1" class="d-flex justify-content-center pb-5">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <owl-carousel-o *ngIf="loadingDepartmentTestimonials == 2" class="rs-carousel" [options]="customOptionsStudents" #owlCar>
                    
                    <ng-container *ngFor="let testimonal of departmentTestimonials">
                        <ng-template carouselSlide [width]="350" >
                            <div class="testimonial-item">
                                <div class="testi-img">
                                    <img src="data:image/png;base64,{{testimonal.photo}}" alt="Jhon Smith">
                                </div>
                                <div class="testi-desc">
                                    <h4 class="testi-name">{{testimonal.name}}</h4>
                                    <p class="text-danger mb2"><strong>{{testimonal.designation}}, {{testimonal.company}} </strong></p>
                                    <p>
                                        {{testimonal.whatSay}}
                                    </p>
                                </div>
                            </div>
                        </ng-template>

                    </ng-container>
                    
                    
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>

<div class="rs-gallery-4 rs-gallery sec-spacer">
    <div class="container">
        <div class="sec-title-2 mb-50 text-center">
            <h2>GALLERY</h2>
        </div>
        <div *ngIf="loadingGallery == 1" class="d-flex justify-content-center pb-5">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row" *ngIf="loadingGallery == 2">
            <div class="col-lg-3 col-md-6" *ngFor="let image of galleryImages">
                <div class="gallery-item">
                    <img src="data:image/png;base64,{{image.photo}}" alt="Gallery Image" />
                    <div class="gallery-desc">
                        <h3><a href="#">{{image.title}}</a></h3>
                        <p>{{image.description}}</p>
                        <a class="image-popup" href="assets/images/gallery/1.jpg" title="Photo Title Here">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div  class="d-flex justify-content-center pb-5">
            <a class="btn btn-sm btn-primary" style="width: 150px;" [routerLink]="['/department/department-gallery/', department,departmentId]" >Load More</a>
        </div>
        
    </div>
</div>

