<app-header></app-header>
<div *ngIf="loadingSliders == 1" id="rs-slider" class="slider-overlay-2">
    <div class="rs-banner-section2">
        <img src="assets/images/slider/default-slider.jpg" alt="Parmanent Campus" />
        <div class="slide-content d-none">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container text-center">
                        <h1 class="slider-title" data-animation-in="fadeInUp" data-animation-out="animate-out">
                            Permanent Campus</h1>
                        <br />
                        <a href="#" class="sl-readmore-btn mr-30">WHY ADUST</a>
                        <a href="#" class="sl-get-started-btn" data-animation-in="lightSpeedIn"
                            data-animation-out="animate-out">APPLY NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="animate hidden-sm">
            <div class="circle1">
                <img src="assets/images/circle.png" alt="">
            </div>
        </div>
    </div>
</div>
<div *ngIf="loadingSliders == 2" id="rs-slider" class="slider-overlay-2">
    <owl-carousel-o [options]="customOptionsHome" #owlCarHome>
        <ng-container *ngFor="let slider of sliders">
            <ng-template carouselSlide>
                <div class="rs-banner-section2">
                    <img src="data:image/png;base64,{{slider.photo}}" alt="Slide1" />
                    <div class="slide-content d-none">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="container text-center">
                                    <h1 class="slider-title animated bounceIn" data-animation-in="fadeInLeft"
                                        data-animation-out="animate-out">{{slider.title}}</h1>
                                    <br />
                                    <a href="#" class="sl-readmore-btn mr-30" data-animation-in="lightSpeedIn"
                                        data-animation-out="animate-out">WHY ADUST</a>
                                    <a href="#" class="sl-get-started-btn" data-animation-in="lightSpeedIn"
                                        data-animation-out="animate-out">APPLY NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="animate hidden-sm">
                        <div class="circle1">
                            <img src="assets/images/circle.png" alt="">
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
    <a class="carousel-control-prev" (click)="owlCarHome.prev()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" (click)="owlCarHome.next()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Slider Area End -->
<!-- Services Start -->
<div class="rs-services rs-services-style7 pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="row pr-30 md-pr-0">
                    <div class="col-lg-6 col-md-6">
                        <div class="Services-wrap mb-30">
                            <div class="Services-item">
                                <div class="Services-icon">
                                    <img src="assets/images/services/labrotory.jpg" alt="">
                                </div>
                                <div class="Services-desc">
                                    <i class="flaticon-book-1 mb-15"></i>
                                    <h4 class="services-title">
                                        <a href="#">LABORATORY</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="Services-wrap">
                            <div class="Services-item">
                                <div class="Services-icon">
                                    <img src="assets/images/services/library.jpg" alt="">
                                </div>
                                <div class="Services-desc">
                                    <i class="flaticon-book mb-15"></i>
                                    <h4 class="services-title">
                                        <a href="#">BOOKS & LIBRARY</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pt-30 col-md-6">
                        <div class="Services-wrap mb-30">
                            <div class="Services-item">
                                <div class="Services-icon">
                                    <img src="assets/images/services/Advanced-AI-Lab.jpg" alt="">
                                </div>
                                <div class="Services-desc">
                                    <i class="flaticon-book mb-15"></i>
                                    <h4 class="services-title">
                                        <a href="#">ADVANCED AI LAB</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="Services-wrap">
                            <div class="Services-item">
                                <div class="Services-icon">
                                    <img src="assets/images/services/convocation.jpg" alt="">
                                </div>
                                <div class="Services-desc">
                                    <i class="flaticon-tool-2"></i>
                                    <h4 class="services-title mb-15">
                                        <a href="#">CONVOCATION</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 pl-15 pt-30">
                <div class="content-part">
                    <span class="sub-text">About Us</span>
                    <h2 class="uppercase title pb-20 md-pb-10">Welcome To ADUST</h2>
                    <p class="pb-20">
                        The vision of ADUST is multi-faceted and multifarious. ADUST
                        looks beyond stereotypical periphery. It seeks to keep pace
                        with the fleeting time and technological advancement.
                        Creation of new jobs and invention of new methods of learning
                        are its principal dream. It strives to impart future-proof
                        education to its pupils. ADUST believes that without sound
                        knowledge in any discipline, all-out progress will not be
                        achievable. It wishes to employ its total means and energy to
                        root out the curse of unemployment and prevent social
                        regression. ADUST visualizes attaining of social and economic
                        emancipation, removing gender disparity and producing
                        befitting employments for its students. ADUST dreams of
                        better and sustainable future for the whole nation.
                    </p>
                    <div class="btn-part">
                        <a class="readon2" href="#"> Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<!-- Latest News Start -->
<div id="rs-latest-news-style7" class="rs-latest-news-style7 sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 md-pb-50">
                <app-events></app-events>
            </div>
            <div class="col-lg-6">
                <app-notices></app-notices>
            </div>
        </div>
    </div>
</div>
<!-- Counter Up Section Start-->
<!-- Team Start -->
<div id="rs-team" class="rs-team sec-color sec-spacer">
    <div class="container">
        <div class="row rs-vertical-middle">
            <div class="col-lg-5 col-md-12">
                <div class="sec-title mb-30">
                    <h2>TOP MANAGEMENT</h2>
                    <p>Making a difference: Valuing the role of higher education</p>
                </div>
                <p class="mobile-mb-50">
                    Our leadership team is the guiding force behind ADUST’s commitment to progress, accountability and
                    excellence.
                </p>
            </div>
            <div class="col-lg-7 col-md-12">
                <owl-carousel-o class="rs-carousel" [options]="customOptionsTopManage" #owlCar>

                    <ng-template carouselSlide [width]="360">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="assets/images/management/chairman.jpg" alt="team Image" />
                                <div class="normal-text">
                                    <h3 class="team-name">LIAKAT ALI SIKDAR</h3>
                                    <span class="subtitle">Chairman</span>
                                </div>
                            </div>
                            <div class="team-content">
                                <div class="overly-border"></div>
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <h3 class="team-name white-color">LIAKAT ALI SIKDAR</h3>
                                        <span class="team-title">Chairman</span>
                                        <p class="team-desc">Investing in our people and places</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide [width]="360">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="assets/images/management/vc.jpg" alt="team Image" />
                                <div class="normal-text">
                                    <h3 class="team-name">DR. RAFIQUE U AHMED</h3>
                                    <span class="subtitle">Vice Chancellor</span>
                                </div>
                            </div>
                            <div class="team-content">
                                <div class="overly-border"></div>
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <h3 class="team-name white-color">DR. RAFIQUE U AHMED</h3>
                                        <span class="team-title">Vice Chancellor</span>
                                        <p class="team-desc">Providing an exceptional learning and student experience
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </owl-carousel-o>

                <div class="owl-carousel rs-navigation-2" style="display: block !important;">
                    <div class="owl-controls">
                        <div class="owl-nav">
                            <div class="owl-prev" (click)="owlCar.prev()"><i class="fa fa-angle-left"></i></div>
                            <div class="owl-next" (click)="owlCar.next()"><i class="fa fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team End -->
<!-- Counter Up Section Start-->
<div class="rs-counter pt-100 pb-70 bg-achievements" id="vvvvvvvvvvvvv">
    <div class="container">
        <div class="sec-title white-text mb-50 text-center">
            <h2>ACHEIVEMENTS</h2>
            <p>We also combine significant, impact-focused research with excellent Graduate outcomes.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="rs-counter-list">
                    <h2 class="counter-number plus">{{animteachers}}</h2>
                    <h4 class="counter-desc">Teachers</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="rs-counter-list">
                    <h2 class="counter-number plus">{{animcourses}}</h2>
                    <h4 class="counter-desc">Programs</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="rs-counter-list">
                    <h2 class="counter-number plus">{{animStudents}}</h2>
                    <h4 class="counter-desc">Current Students</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="rs-counter-list">
                    <h2 class="counter-number plus">{{animSatisfiedClients}}</h2>
                    <h4 class="counter-desc">Alumnus</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Up Section End -->
<!-- Courses Start -->
<div id="rs-courses-2" class="rs-courses-2 sec-spacer">
    <div class="container">
        <div class="sec-title-2">
            <h2 class="mb-30">OUR MAIN COURSES</h2>
            <div class="view-more">
                <a href="#">View All Courses <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
        <div class="gridFilter">
            <button [ngClass]="{'active': selectedCourse.title === 'all'}" (click)="this.selectedCourse = {title:'all'}"
                data-filter="*">ALL</button>

            <button [ngClass]="{'active': selectedCourse.title === courseProgram.title}"
                (click)="this.selectedCourse = courseProgram"
                *ngFor="let courseProgram of coursePrograms">{{courseProgram.title}}</button>
        </div>

        <div *ngIf="loadingCoursePrograms == 1" class="d-flex justify-content-center pb-5">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="row grid" *ngIf="loadingCoursePrograms == 2">
            <ng-container *ngIf="selectedCourse.title =='all'">
                <div class="col-lg-4 col-md-6 grid-item filter1 filter3" *ngFor="let department of allDepartments">
                    <div class="cource-item">
                        <div class="cource-img">
                            <img src="data:image/png;base64,{{department.photo}}" alt="" />
                            <a class="image-link"
                                [routerLink]="['/department', department.fullName.split(' ').join('-'), department.id]"
                                title="{{department.title}}">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                        <div class="course-body">
                            <h4 class="course-title"><a
                                    [routerLink]="['/department', department.fullName.split(' ').join('-'), department.id]">{{department.title}}</a>
                            </h4>
                            <div class="course-desc">
                                <p [innerHtml]='department.description.slice(0, 100)'></p>
                            </div>
                            <a [routerLink]="['/department', department.fullName.split(' ').join('-'), department.id]"
                                class="cource-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedCourse.title !=='all'">
                <div class="col-lg-4 col-md-6 grid-item filter1 filter3"
                    *ngFor="let department of selectedCourse.departments">
                    <div class="cource-item">
                        <div class="cource-img">
                            <img src="data:image/png;base64,{{department.photo}}" alt="" />
                            <a class="image-link"
                                [routerLink]="['/department', department.fullName.split(' ').join('-'), department.id]"
                                title="University Tour 2018">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                        <div class="course-body">
                            <h4 class="course-title"><a
                                    [routerLink]="['/department', department.fullName.split(' ').join('-'), department.id]">{{department.title}}</a>
                            </h4>
                            <div class="course-desc">
                                <p [innerHtml]='department.description.slice(0, 100)'></p>
                            </div>
                            <a [routerLink]="['/department', department.fullName.split(' ').join('-'), department.id]"
                                class="cource-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<!-- Courses End -->
<!-- Events Start -->
<div class="rs-countdown-part bg12">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="countdown-part">
                    <div class="content-part">
                        <h2 class="title">
                            Get<br>
                            Admission
                        </h2>
                        <p class="description">
                            Please fill up the registration form, you will get a call from our admission office for your
                            admission process.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="register-form">
                    <div class="form-title text-center">
                        <h4 class="title">
                            Registration form
                        </h4>
                    </div>
                    <div class="form-group text-center">
                        <form id="contact-form" class="contact-form" method="post" action="mailer.php">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input class="from-control" name="name" type="text" placeholder="Name" id="name"
                                        required="required" [(ngModel)]="commentSurveyForm.name">
                                </div>
                                <div class="col-lg-12">
                                    <input class="from-control" name="email" type="email" placeholder="E-Mail"
                                        id="email" required="required" [(ngModel)]="commentSurveyForm.email">
                                </div>
                                <div class="col-lg-12">
                                    <input class="from-control" name="number" type="text" placeholder="Phone Number"
                                        id="phone_number" required="required"
                                        [(ngModel)]="commentSurveyForm.phoneNumber">
                                </div>
                                <div class="col-lg-12">
                                    <input class="from-control" name="subject" type="text" placeholder="Subject"
                                        id="subject" required="required" [(ngModel)]="commentSurveyForm.subject">
                                </div>
                                <div class="col-lg-12">
                                    <textarea class="from-control" name="message" type="text" placeholder="Message"
                                        id="message" rows="5" [(ngModel)]="commentSurveyForm.comments"></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit" (click)="saveCommentSurvey()">
                                </div>
                            </div>
                        </form>
                    </div>
                    <h3 class="text-center text-danger" *ngIf="incompleteForm">**Incomplete From!!</h3>
                    <h4 *ngIf="showSubmitted" class="text-center title">
                        ✔️ Summitted
                    </h4>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Events End -->
<!-- Testimonial Start -->
<div id="rs-testimonial-3" class="rs-testimonial-3 pt-100 pb-40 sec-color">
    <div class="container">
        <div class="sec-title-2">
            <h2>WHAT OUR STUDENTS SAY</h2>
        </div>
        <div *ngIf="loadingTestimonials == 1" class="d-flex justify-content-center pb-5">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div *ngIf="loadingTestimonials == 2" class="row">
            <div class="col-md-12">
                <owl-carousel-o class="rs-carousel" [options]="customOptionsStudents" #owlCar>
                    <ng-container *ngFor="let item of allTestimonials;let i=index">
                        <ng-template carouselSlide [width]="350">
                            <div class="testimonial-style3">
                                <div class="image">
                                    <img src="data:image/png;base64,{{item.photo}}" alt="">
                                </div>
                                <h5 class="title">{{item.name}}</h5>

                                <ng-container *ngIf="!loadmoreTestimonial.includes(i); else other_link">
                                    <span>
                                        <p class="description">
                                            {{item.whatSay.substring(0,150)}}...
                                        </p>
                                        <p (click)="loadmoreTestimonial.push(i)">read more</p>
                                    </span>
                                </ng-container>
                                <ng-template #other_link>
                                    <p class="description">
                                        {{item.whatSay}}
                                    </p>
                                </ng-template>
                                <div class="testimonial-content">
                                    <div class="testimonial-profile">
                                        <h3 class="name">{{item.designation}}</h3>
                                        <span class="post">{{item.company}}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Partner Start -->
<div id="partner" class="rs-partner pt-70 pb-10">
    <div class="container">
        <div class="sec-title2 mb-50 text-center">
            <h2 class="title">Academic & Strategic Partners</h2>
        </div>

        <div *ngIf="loadingPartners == 1" class="d-flex justify-content-center pb-5">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        <owl-carousel-o *ngIf="loadingPartners == 2" class="partner" [options]="customOptionsPartners" #owlCar>
            <ng-container *ngFor="let item of allPartners">
                <ng-template carouselSlide [width]="158">
                    <div class="partner-item">
                        <a href="#"><img src="data:image/png;base64,{{item.photo}}" alt="Partner Image"></a>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>