<app-header></app-header>

<div class="rs-countdown-part sec-color sec-spacer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="register-form">
                    <div class="form-title text-center">
                        <h2 class="title">Please fill up the form for getting maximum Scholarship</h2>
                    </div>

                    <div *ngIf="loadingDepartmentlist == 1 || loadingAdmissions ==1" class="d-flex justify-content-center pb-5">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <h4 class="title">
                            Admission open for {{AdmissionDetails.admissionScheduleFor}}<br>
                            ✔️ 10%-100% Scholarship on Tuition Fees
                            ✔️ 40% Discount on Admission Fees
                        </h4>
                        <form id="contact-form" class="contact-form" method="post" action="mailer.php">
                            <div class="row">
                                <div class="col-lg-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="course-program" [(ngModel)]="admissionSurveyForm.departmentId">
                                        <option value = 0 selected>Select Course Program</option>
                                        <option *ngFor="let item of departmentList" [value]="item.id"> {{item.fullName}}</option>
                                      </select>
                                </div>
                                <div class="col-lg-12">
                                    <input class="from-control" name="name" type="text" placeholder="Name" [(ngModel)]="admissionSurveyForm.name">
                                </div>
                                <div class="col-lg-12">
                                    <input class="from-control" name="email" type="email" placeholder="E-Mail" [(ngModel)]="admissionSurveyForm.email">
                                </div>
                                <div class="col-lg-12">
                                    <input class="from-control" name="number" type="text" placeholder="Phone Number" [(ngModel)]="admissionSurveyForm.phoneNumber">
                                </div>
                                <div class="col-lg-12">
                                    <input class="from-control" name="SSCResult" type="text" placeholder="SSC/Dakhil Result" [(ngModel)]="admissionSurveyForm.sscResult">
                                </div>
                                <div class="col-lg-12">
                                    <input class="from-control" name="HSCResult" type="text" placeholder="HSC/Alim/Diploma Result" [(ngModel)]="admissionSurveyForm.hscResult">
                                </div>
                                <div class="col-lg-12">
                                    <input class="from-control" name="SSCPassingYear" type="text" placeholder="SSC/Dakhil Passing Year" [(ngModel)]="admissionSurveyForm.sscPassingYear">
                                </div>
                                <div class="col-lg-12">
                                    <input class="from-control" name="HSCPassingYear" type="text" placeholder="HSC/Alim/Diploma Passing Year" [(ngModel)]="admissionSurveyForm.hscPassingYear">
                                </div>
                                <div class="col-lg-12">
                                    <input class="from-control" name="district" type="text" placeholder="District" id="district" required="required" [(ngModel)]="admissionSurveyForm.district">
                                </div>
                                <div class="col-lg-12">
                                    <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit" (click)="saveSurveyForm()">
                                </div>
                            </div>
                        </form>
                        <h3 class="text-danger" *ngIf="incompleteForm">**Incomplete From!!</h3>
                        <h4 *ngIf="showSubmitted" class="title">
                            ✔️ Summitted
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>

<div id="rs-about" class="rs-about sec-spacer">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">

            <h4>Admission Requirements</h4>

                <div id="accordion" class="rs-accordion-style1">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Undergraduate Program Requirements
                            </h3>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" [innerHtml]='AdmissionDetails.undergraduateProgramRequirements'>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Post Graduate Program Requirements
                            </h3>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" [innerHtml]='AdmissionDetails.graduateProgramRequirements'>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Diploma & Engineering Program Requirements
                            </h3>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body" [innerHtml]='AdmissionDetails.diplomaAndEngineeringProgramRequirements'>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <h4 class="mt-spacer-30">Tution Fees & Scholarships</h4>

                <div id="accordion" class="rs-accordion-style1">
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Tution Fees
                            </h3>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                <div *ngIf="AdmissionDetails.photo">
                                        <img src="data:image/png;base64,{{AdmissionDetails.photo}}" alt="img02">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header mb-0" id="headingFour">
                            <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Scholarships
                            </h3>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body" [innerHtml]='AdmissionDetails.scholarships'>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h4 class="mt-spacer-30">Apply Now</h4>
                <p class="p-spacer" [innerHtml]='AdmissionDetails.applyNowProcess'>
                </p>

            </div>
        </div>

    </div>
</div>
